<html>
  <head>
    <title>Page Title</title>     
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  </head>
  <!--Navigation bar-->
<div id="nav-placeholder">

</div>

<script>
$(function(){
  $("#nav-placeholder").load("views/navbar.html");
});
</script>
<!--end of Navigation bar-->
  <body> 
    yeehaw
    <iframe src="https://calendar.google.com/calendar/embed?height=720&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FLos_Angeles&amp;src=aGVscG1laGVscG1ldHV0b3JAZ21haWwuY29t&amp;color=%23039BE5&amp;showNav=1&amp;mode=WEEK&amp;title=Tutoring%20Schedule&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=1&amp;showTitle=0" style="border:solid 1px #777" width="1080" height="720" frameborder="0" scrolling="no"></iframe>    <div id="valueSpot">wow</div>
    <script type="text/javascript" src="/testfrontEnd.js"></script>
  </body>
</html>