<html>
  <head>
    <title>Tutoring Schedule</title>     
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  </head>
  <!--Navigation bar-->
<div id="nav-placeholder">

</div>

<script>
$(function(){
  $("#nav-placeholder").load("views/navbar.html");
});
</script>
<!--end of Navigation bar-->
  <body><div style="background-color:#D9D9D9;padding:20;padding-top:40;height:1500;justify-items: center;padding-top:30"><center>
    <div style="margin-bottom:30;height: 115;padding-top: 35;background-color:rgb(86, 207, 102);width:1825;margin-right:10;">
      <div style="vertical-align:middle;width:40%;background-color: rgb(58, 131, 69);">
        <heading style="font-family:Fantasy;color:white;vertical-align:middle;font-size:50pt;">Tutoring Schedule</heading>
      
    </div></div>

   <!-- <a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=N2pjY2I1bWg2aDd0bzQ1OTExM2NybDhta2IgaGVscG1laGVscG1ldHV0b3JAbQ&amp;tmsrc=helpmehelpmetutor%40gmail.com"><img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_en.gif"></a>
   -->
    <div style="margin-top:10;height:210;width:1764;background-color:#F19F4D;vertical-align: top;padding:30;margin-left:3;margin-right:15;margin-bottom:20;">
    
      <div style="display:inline-block;background-color:rgb(206, 135, 65);font-family:monospace;color:white;padding:10;">
        <b><h1>Creating a Session</h1>
       <p style="text-align: left;">1. Go to your <a href='www.calendar.google.com'>Google Calendar</a> and log in as the same email as this site.<br><br>2. Create an event and fill in the appropriate location and times<br><br>3. Invite helpmehelpmetutor@gmail.com to the event<br><br>> Our applet listener will add your session to the central calendar here</p>
       </b>
      </div>

      <div style="display:inline-block;background-color:rgb(206, 135, 65);font-family:monospace;color:white;padding:10;margin-left:38">
        <b><h1>Deleting a Session</h1>
       <p style="text-align: left;">1. Click on the event you want to delete in the calendar.<br><br>2. Click 'more details>>'<br><br>3. Remove yourself from the event<br><br>> The session will be dropped from the calendar and attending students will be notified.</p>
       </b>
      </div>

      <div style="display:inline-block;background-color:rgb(206, 135, 65);font-family:monospace;color:white;padding:10;margin-left:38">
        <b><h1>Need Help?</h1>
       <p style="text-align: left;">> Please Contact us at <a href="helpmehelpmetutor@gmail.com">helpmehelpmetutor@gmail.com</a> for any help<br><br>> Our business hours are from 9am to 5pm.<br><br><br><br><br></p>
       </b>
      </div>

    </div>

     <div id="helpSheet" style="margin-top:10;height:964;width:440;display:inline-block;background-color:#F19F4D;vertical-align: top;padding:30;margin-right:15">
    <div style="backgDround-color:rgb(206, 135, 65);font-family:monospace;color:white;padding:10;">
 </b>
</div>
  <iframe src="https://calendar.google.com/calendar/b/2/embed?height=605&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FLos_Angeles&amp;src=aGVscG1laGVscG1ldHV0b3JAZ21haWwuY29t&amp;color=%23039BE5&amp;mode=AGENDA&amp;showTitle=0&amp;showNav=1&amp;showDate=1&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=1" 
  style="border:solid 1px #777" width="440" height="930 " frameborder="0" scrolling="no"></iframe>

 
</div>

    <div style="margin-left:15;display:inline-block;height:800;width:1280;vertical-align: top;padding:10"><iframe src="https://calendar.google.com/calendar/embed?height=1050&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FLos_Angeles&amp;src=aGVscG1laGVscG1ldHV0b3JAZ21haWwuY29t&amp;color=%23039BE5&amp;showNav=1&amp;mode=month&amp;title=Tutoring%20Schedule&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=1&amp;showTitle=0" style="background-color:#D9D9D9" width="1280" height="1024" frameborder="0" scrolling="no"></iframe></div>
  </div></center>
  </body>
</html>