<!--Huynh-->
<html>
  <head>
    <title>Student Schedule</title>     
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  </head>
  <!--Navigation bar-->
<div id="nav-placeholder">

</div>

<script>
$(function(){
  $("#nav-placeholder").load("views/navbar.html");
});
</script>
<!--end of Navigation bar-->
  <body><div style="background-color:#D9D9D9;padding:20;padding-top:40;height:1230;justify-items: center;padding-top:30"><center>
    <div style="margin-bottom:30;height: 115;padding-top: 35;background-color:rgb(86, 207, 102);width:1825;margin-right:10;">
      <div style="vertical-align:middle;width:40%;background-color: rgb(58, 131, 69);">
        <heading style="font-family:Fantasy;color:white;vertical-align:middle;font-size:50pt;">Student Schedule</heading>
      
    </div></div>
    <div id="helpSheet" style="margin-top:10;height:964;width:440;display:inline-block;background-color:#F19F4D;vertical-align: top;padding:30;margin-right:15">
          <div style="width: 200;backdground-color:rgb(206, 135, 65);font-family:monospace;color:white;padding:10;">
        <u><b><h1 style="font-size: 50;">Tips</h1></b></u>
       </b>
     </div>
      <div style="background-color:rgb(206, 135, 65);font-family:monospace;color:white;padding:10;margin-top:30">
        <b><h1>Schedule Page</h1>
       <p style="text-align: left;">> These are the sessions created by the tutors of the program for your benefit.<br><br></p>
       </b>
     </div>



     <div style="background-color:rgb(206, 135, 65);font-family:monospace;color:white;padding:10;margin-top:30">
      <b><h1>Booking a Session</h1>
     <p style="text-align: left;">1. Mouse over the session of the tutor session you'd like to be a part of.<br><br>2. Click "copy to calendar"<br><br>3. Add helpmehelpmetutor@gmail.com to the event<br><br>> This will act as proof of booking. It is first come first served</p>
     </b>
    </div>

      <div style="background-color:rgb(206, 135, 65);font-family:monospace;color:white;padding:10;margin-top:30">
       <b><h1>Contact your tutor</h1>
      <p style="text-align: left;">> Click a session and get contact info<br><br>> Or, visit the <a href="#wow">Choose Tutor Page</a></p>
      </b>
    </div>

    <div style="background-color:rgb(206, 135, 65);font-family:monospace;color:white;padding:10;margin-top:30">
      <b><h1>Need Help?</h1>
     <p style="text-align: left;">> Not seeing a session? Contact your tutor.<br><br>> For other help, please email us at <a href="helpmehelpmetutor@gmail.com">helpmehelpmetutor@gmail.com</a></p>
     </b>
   </div>    
    </div>
    <div style="margin-left:15;display:inline-block;height:800;width:1280;vertical-align: top;padding:10"><iframe src="https://calendar.google.com/calendar/embed?height=1050&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FLos_Angeles&amp;src=aGVscG1laGVscG1ldHV0b3JAZ21haWwuY29t&amp;color=%23039BE5&amp;showNav=1&amp;mode=WEEK&amp;title=Tutoring%20Schedule&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=1&amp;showTitle=0" style="background-color:#D9D9D9" width="1280" height="1024" frameborder="0" scrolling="no"></iframe></div>
  </div></center>
  </body>
</html>